.App {
    text-align: center;
}

.Game {
}

.Square {
    background-color: white;
    color: black;
    border: 1px solid #555555;
    margin: 1px;
    height: 40px;
    width: 40px;
    padding: 13px;
}

.board-row {
    display: block;
}

.game-board {
    width: 50%;
    float: left;
}

.game-info {
    width: 50%;
    float: left;
    text-align: left;
}
